# Server
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
dist/
build/
*.log
data/*.db
data/*.db-journal

# Client
client/node_modules/
client/build/
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Testing
coverage/
.nyc_output/
*.test.js.snap

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
Desktop.ini
